<% if post.is_announcement %>
  <tr>
    <td style="text-align:center;"><%= post.created_at.in_time_zone('Asia/Seoul').strftime("%F").gsub(/\-/,'.') %></td>
    <td style="text-align:center;"><a href="/board/read/0/<%= post.id %>"><%= truncate post.title, length:26 %></a></td>
  </tr>
<% end %>