<div class="col-md-5" style="padding:0px 7.5px;">
  <div class="col-md-12 well main-sidebar">
    <div class="col-md-12 shadow" style="padding:0px;">
      <center>
        <h4>Course Information</h4>
      </center>
    </div>
    <ul class="nav nav-pills nav-stacked">
      <li><a href="http://sugang.snu.ac.kr/sugang/cc/cc103.action?openSchyy=2015&openShtmFg=U000200002&openDetaShtmFg=U000300001&sbjtCd=4190.103A&ltNo=002&sbjtSubhCd=000" target="_blank">
        <span style="color:black">Course Overview</span><br>
        4190.103A 002 프로그래밍 연습
      </a></li>
      <li><a href="http://mrl.snu.ac.kr/~jehee/" target="_blank">
        <span style="color:black">Professor</span><br>
        JeHee Lee
      </a></li>
      <li><a href="#">
        <span style="color:black">TextBook</span><br>
        A Book on C, Kelley and Pohl, 4th edition, Addison Wesley.
      </a></li>
      <li><a>
        <span style="color:black">Lecture Hour (16:00~18:00)</span><br>
        Tue : 302-208, Thu : 302-311-1
      </a></li>
      <li><a href="http://mrl.snu.ac.kr/" target="_blank" style="padding-bottom:0;color:black;">T/A</a></li>
      <li><a href="http://mrl.snu.ac.kr/~pjhjohn/" target="_blank" style="padding-top:0;padding-bottom:0;">JoonHo Park</a></li>
      <li><a href="http://mrl.snu.ac.kr/~shpark/" target="_blank" style="padding-top:0;padding-bottom:0;">SooHwan Park</a></li>
      <li><a href="http://mrl.snu.ac.kr/~jspark/" target="_blank" style="padding-top:0;padding-bottom:0;">JungSu Park</a></li>
      <li><a href="http://mrl.snu.ac.kr/~seiing/" target="_blank" style="padding-top:0;">SeHee Min</a></li>
    </ul>
  </div>
  <div class="col-md-12 well main-sidebar">
    <div class="col-md-12 shadow" style="padding:0px;">
      <center>
        <h4>Announcements</h4>
      </center>
    </div>
    <table class="table" style="margin-bottom:0px">
      <thead>
        <th style="text-align:center">날짜</th>
        <th style="text-align:center">내용</th>
      </thead>
      <tbody>
        <% @announcements.each do |post| %>
          <%= render partial: "main/announcement", :locals => { :post => post } %>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-md-12 well main-sidebar">
    <div class="col-md-12 shadow" style="padding:0px;">
      <center>
        <h4>Schedules</h4>
      </center>
    </div>
    <ul id="event-list" class="nav nav-pills nav-stacked">
    </ul>
  </div>
</div>

<%# Calendar - reference : https://github.com/Serhioromano/bootstrap-calendar%>
<link rel="stylesheet" href="calendar/css/calendar.css">
<div class="col-md-7" style="padding:0px 7.5px;">
  <div class="col-md-12 well" style="padding:0px 0px 15px 0px">
    <div class="col-md-12 shadow" style="padding:0px;margin-bottom:20px;">
      <center><h3 id="calendar-title" class="col-md-12" style="text-align:center;"></h3></center>
    </div>
    <div class="col-md-12 clearfix"> 
      <div class="pull-left">
        <div class="btn-group pull-lef">
          <button class="btn btn-primary" data-calendar-nav="prev">&lt;&lt; Prev</button>
          <button class="btn" data-calendar-nav="today">Today</button>
          <button class="btn btn-primary" data-calendar-nav="next">Next &gt;&gt;</button>
        </div>
      </div>
      <div class="pull-right form-inline">
        <div class="btn-group">
          <button class="btn btn-warning active" data-calendar-view="month">Month</button>
          <button class="btn btn-warning" data-calendar-view="week">Week</button>
          <button class="btn btn-warning" data-calendar-view="day">Day</button>
        </div>
      </div>
    </div>
    <div class="col-md-12" style="margin-top:10px">
      <div id="calendar" class="cal-context" style="width: 100%;"><div class="cal-row-fluid cal-row-head">
    </div>
    <%# Scripts for Calendar %>
    <script type="text/javascript">
      var getDateInterval = function(start_ms, end_ms) {
        if(start_ms==undefined||end_ms==undefined) return;
        var start_date = new Date(start_ms);
        var end_date = new Date(end_ms);
        var start_str = "{0}-{1}-{2}".format(
          start_date.getFullYear(),
          (start_date.getMonth()<9?"0":"") + (start_date.getMonth()+1),
          (start_date.getDate()<10?"0":"") + start_date.getDate()
        );
        if(start_date.getFullYear()==end_date.getFullYear()) {
          if(start_date.getMonth()==end_date.getMonth()) {
            if(start_date.getDate()==end_date.getDate()) return start_str
            else return start_str + "~{0}".format(
              (end_date.getDate()<10?"0":"") + end_date.getDate()
            );
          } else return start_str + "~{0}-{1}".format(
            (end_date.getMonth()<9?"0":"") + (end_date.getMonth()+1),
            (end_date.getDate()<10?"0":"") + end_date.getDate()
          );
        } else return start_str + "~{0}-{1}-{2}".format(
          end_date.getFullYear(),
          (end_date.getMonth()<9?"0":"") + (end_date.getMonth()+1),
          (end_date.getDate()<10?"0":"") + end_date.getDate()
        );
      }
      $(document).ready(function(){
        $.when(
          $.getScript( "/calendar/components/underscore/underscore-min.js" ),
          $.getScript( "/calendar/components/bootstrap3/js/bootstrap.min.js" ),
          $.getScript( "/calendar/js/calendar.js" ),
          $.getScript( "/calendar/js/language/ko-KR.js" ),
          $.Deferred(function( deferred ){
              $( deferred.resolve );
          })
        ).done(function(){
          var options = {
            view: "month",
            tmpl_path: "/calendar/tmpls/",
            // language: "ko-KR",
            events_source: "/schedule/get_events",
            onAfterEventsLoad: function(events) {
              if(!events) return;
              var list = $('#event-list');
              list.html('');
              $.each(events, function(key, val) {
                val.end -= 1; // exclude finish moment
                $(document.createElement('li'))
                  .html('<a href="' + val.url + '">' + getDateInterval(val.start, val.end) + " : " + val.title + '</a>')
                  .appendTo(list);
              });
            },
            onAfterViewLoad: function(view) {
              $('#calendar-title').text(this.getTitle());
              $('.btn-group button').removeClass('active');
              $('button[data-calendar-view="' + view + '"]').addClass('active');
            },
            first_day: 2,
            format12: false,
            weekbox: false,
            display_week_numbers: false
          };
          var calendar = $("#calendar").calendar(options);
          $('.btn-group button[data-calendar-nav]').each(function() {
            var $this = $(this);
            $this.click(function() {
              calendar.navigate($this.data('calendar-nav'));
            });
          });
          $('.btn-group button[data-calendar-view]').each(function() {
            var $this = $(this);
            $this.click(function() {
              calendar.view($this.data('calendar-view'));
            });
          });
        });
      });
    </script>
  </div>
</div>