<div style="margin:5px 0px;"class="col-md-12 no-pad">
  <div class="col-md-2 col-sm-2" style="font-weight:bold;"><%= reply.user.username %></div>
  <div class="col-md-10 col-sm-10"><%= reply.body %></div>
</div>