<div class="col-xs-12" style="padding:0px;">
  <span style="font-weight:bold;"><%= reply.user.username %>  :  </span>
  <span style="word-break:break-all;">
    <%= reply.body %>
    <% if !reply.user.nil? and reply.user.id == session[:user_id] or reply.user.is_admin? %>
      <a href="/reply/delete/<%=reply.id%>"><span class="glyphicon glyphicon-remove" style="position:absolute;right:0px;"></span></a>
    <% end %>
  </span>
</div>