<div style="margin:5px 0px;"class="col-xs-12">
  <div class="col-xs-2" style="font-weight:bold;"><%= reply.user.username %></div>
  <div class="col-xs-10" style="word-break:break-all;"><%= reply.body %>
    <% if reply.user.id == session[:user_id] %> 
      <a href="/reply/delete/<%=reply.id%>"><div class="delete_reply">X</div></a>
    <% end %>
  </div>
</div>