<div class="row">
    <div class="col-md-offset-2 col-md-8 well shadow" style="padding:0px;margin-bottom:-4px;">
      <center>
        <h4>Member Info</h4>
      </center>
    </div>
  <div class="col-md-offset-2 col-md-8 well">
    <table class="table table-condensed">
      <thead>
        <th style="text-align:center">회원번호</th>
        <th style="text-align:center">아이디</th>
        <th style="text-align:center">게시물 수</th>
        <th style="text-align:center">댓글 수</th></th>
        <th style="text-align:center">가입일자</th>
      </thead>
      <tbody>
        <% @page.each do |user| %>
          <%= render partial: "admin/user_preview", :locals => { :user => user } %>
        <% end %>
      </tbody>
    </table>
    <% (@end_page-@start_page+1).times do |i| %>
      <a href="/admin/members/<%=@start_page + i%>" class="btn btn-primary pull-left <%='disabled' if ((@start_page+i) == @pagenum)%>" style="border-radius:0;margin-left:3px;"><%=@start_page + i%></a>
    <% end %>
  </div>
</div>