<div class="row">
  <%= render :partial => "layouts/flash", :locals => {:offset => 2, :size => 8} %>
  <form class="col-md-offset-2 col-md-8 well form-horizontal" action="/admin/event/create" method="POST">
    <%# Title %>
    <div class="form-group">
      <label class="col-md-2" for="title">Title</label>
      <div class="col-md-10">
        <input type="text" name="title" class="form-control" placeholder="Title" required>
      </div>
    </div>
    <%# Body %>
    <div class="form-group">
      <label class="col-md-2" for="body">Body</label>
      <div class="col-md-10">
        <textarea type="text" name="body" class="form-control post_font" placeholder="Body" row="10" style="min-height:300px;"></textarea>
      </div>
    </div>
    <%# Class %>
    <div class="form-group">
      <label class="col-md-2" for="klass">Class</label>
      <input type="hidden" name="klass" class="form-control" required>
      <div class="col-md-10">
        <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="border-radius:2px;width:100%;" aria-haspopup="true" aria-expanded="false">
          <span id="event-class">Select Event Class</span>&nbsp;&nbsp;<span class="caret"></span>
        </button>  
        <ul class="dropdown-menu" style="left:200px; min-width:200px">
          <li><a href="#">IMPORTANT</a></li>
          <li><a href="#">SUCCESS</a></li>
          <li><a href="#">WARNING</a></li>
          <li><a href="#">INFO</a></li>
          <li><a href="#">INVERSE</a></li>
          <li><a href="#">SPECIAL</a></li>
        </ul>
      </div>
    </div>
    
    <link rel="stylesheet" type="text/css" href="/datetimepicker/jquery.datetimepicker.css"/ >    
    <%# Start %>
    <div class="form-group">
      <label class="col-md-2" for="start">Starts at</label>
      <div class="col-md-10">
        <input id="start_datetime" type="text" name="start" class="form-control" required>
      </div>
    </div>
    <%# Finish %>
    <div class="form-group">
      <label class="col-md-2" for="finish">Finishes at</label>
      <div class="col-md-10">
        <input id="finish_datetime" type="text" name="finish" class="form-control" required>
      </div>
    </div>
    <%# Attachments %>
    <div class="form-group">
      <label class="col-md-2" for="attachment_title">Attachments</label>
      <div class="col-md-5">
        <input type="text" name="attachment_title" class="form-control" placeholder="title" required>
      </div>
      <div class="col-md-5">
        <input type="text" name="attachment_url" class="form-control" placeholder="url" required>
      </div>
    </div>

    <%# Submit %>
    <div class="form-group">
      <div class="col-md-offset-2 col-md-10 col-sm-12">
        <button type="submit" class="btn btn-default col-sm-12">Register New Event</button>
      </div>
    </div>
  </form>
</div>
<script type="text/javascript">
  $(document.body).on('click', '.dropdown-menu li', function(event) {
    var $target = $(event.currentTarget);
    var formGroup = $target.closest('.form-group');
    formGroup.find('input[name="klass"]').val('event-' + $target.text().toLowerCase());
    $('#event-class').text($target.text());
  });
</script>
<script type="text/javascript">
  var time;
  $(document).ready(function(){
    $.when(
      $.getScript( "/datetimepicker/jquery.datetimepicker.js" ),
      $.Deferred(function( deferred ){
        $( deferred.resolve );
      })
    ).done(function(){
      var setDateTime = function(currentDateTime) {
        currentDateTime.setSeconds(0);
        time = currentDateTime;
      };
      var options = {
        lang:'ko',
        format:'unixtime',
        step:15,
        onChangeDateTime:setDateTime
      };
      $("#start_datetime").datetimepicker(options);
      $("#finish_datetime").datetimepicker(options);
    });
  });
</script>
<style>
  .dropdown-menu > li {
    text-align:center;
  }
  .form-control {
    border-radius:3px;
  }
</style>