<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.1.1/gh-fork-ribbon.min.css" />
<div class="row">
  <div class="col-md-offset-2 col-md-8 well">
    <center>
      <h3 style="font-weight:bold;color:rgb(48,195,174)">Contributors</h3>
      <a href="http://mrl.snu.ac.kr/~pjhjohn"><h4 style="font-weight:bold;color:rgb(150,150,150);">JoonHo Park</h4></a>
      <a href="http://mrl.snu.ac.kr/~shpark"><h4 style="font-weight:bold;color:rgb(150,150,150);">SuHwan Park</h4></a>
    </center>
  </div>
  <div class="col-md-offset-2 col-md-8 well">
    <center style="font-weight:bold;color:rgb(150,150,150);">
      <h3 style="font-weight:bold;color:rgb(48,195,174)">Powered by</h3>
      <a href="https://www.ruby-lang.org"><h4 style="font-weight:bold;color:rgb(150,150,150);">Ruby</h4></a>
      on
      <a href="http://rubyonrails.org/"><h4 style="font-weight:bold;color:rgb(150,150,150);">Rails</h4></a>
      with
      <a href="https://c9.io"><h4 style="font-weight:bold;color:rgb(150,150,150);">Cloud9</h4></a>
    </center>
  </div>
  <div class="col-md-offset-2 col-md-8 well">
    <center style="font-weight:bold;color:rgb(150,150,150);">
      <h3 style="font-weight:bold;color:rgb(48,195,174)">Open Source Libraries</h3>
      <a href="https://github.com/xdan/datetimepicker"><h4 style="font-weight:bold;color:rgb(150,150,150);">DateTimePicker</h4></a>
      <a href="https://github.com/Serhioromano/bootstrap-calendar"><h4 style="font-weight:bold;color:rgb(150,150,150);">Bootstrap Calendar</h4></a>
      <a href="https://github.com/simonwhitaker/github-fork-ribbon-css"><h4 style="font-weight:bold;color:rgb(150,150,150);">"Fork me on GitHub" CSS ribbon</h4></a>
    </center>
  </div>
  <div class="github-fork-ribbon-wrapper right" style="position:fixed">
    <div class="github-fork-ribbon">
      <a href="https://github.com/pjhjohn/mrl-pp2015">Fork me on GitHub</a>
    </div>
  </div>
</div>